body {
	background-color: white;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	color: black;
}

a:visited {
	color: #a0a;
}

.site {
	line-height: 1.5em;
	width: 50em;
	text-align: justify;
	margin: 3em auto 2em auto;
}

.site .header {
	border-bottom: 1px solid gray;
}

.site .header .title {
	font-size: 200%;
	font-weight: bold;
	color: blue;
}

.site .header .description {
	margin-top: 1em;
	margin-bottom: 2em;
	color: #222;
}

.site .content {
	width: 70%;
}

.site .contact {
	float: right;
	clear: left;
}

.site .sidenav {
	float: right;
}









