body {
    font-family: "微软雅黑","Arial","Helvetica","sans-serif";
    background-color: #f0f0f0;    
}

a {
    text-decoration: none;
}

a:hover {
    color:#e50053;
}

.site {
    line-height: 1.5em;
    width: 65em;
    margin: auto;

}

.site .header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.site .header .site-title {
	font-size: 230%;
	font-weight: bold;
}

.site .header .site-title a {
    color: #0ef;
}

.site .header .contact {
    float: right;
}

.site .footer {
    border-top: 1px solid #ddd;
    padding-top: 1em;
    padding-bottom: 2em;
}

#content {
    width: 54em;
}

.category {
    width: 10em;
    float: right;
    padding: 20px;
}

.post-date {
    text-align: right;
    color: #999;
    margin-bottom: 60px;
    margin-right: 60px;
    font-size: 14px;
}