body {
    font-family: "微软雅黑","Arial","Helvetica","sans-serif";
    text-align: center;
    line-height: 1.5em;
    margin: 10px;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 80px;
}

text {
    font-size: 40px;
}
