<div class="category">
<!-- 
     site.categories -> {"miscellany"==>[],"android"==>[]}
     category -> miscellany [post]多个博客
-->
<ul>
  {% assign cs = site.categories %}
  {% for category in cs %}
  <li>
    <a href="{{ site.baseurl }}/{{ category[0] }}/">
      {% if category[0] == 'miscellany' %}
      杂记
      {% else %}
        {{ category[0] }}
      {% endif %}

      <!-- 计算集合size -->
      {% for post in category[1] %}
        {% capture length %}{{ forloop.length }}{% endcapture %}
      {% endfor %}

      ({{ length }})
    </a>
  </li>
  {% endfor %}
</ul>
</div>
