<!DOCTYPE html>
<html>
<head>
　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/default.css" type="text/css" />
</head>
<body>

<div class="site">
	<div class="header">
		<div class="title"><a href="{{ site.baseurl }}">My Blog</a></div>
		<div class="description">巴拉巴拉巴拉</div>
		<div class="contact">
			Email yjg.2016@gmail.com
		</div>
	</div>

	<div class="content">
　　	{{ content }}
	</div>

		
	<div class="footer">
		<a href="https://github.com/leongithub/blog">博客源码</a>
		|<a href="https://github.com/leongithub">GitHub</a>
		|<a href="http://stackoverflow.com/users/2324053/leon">stackoverflow</a>
		|Email: yjg.2016@gmail.com
	</div>
</div>

</body>
</html>
