---
layout: default
---

{{ content }}
<p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>

<!-- 前后文章导航 -->
<div class="previous_post">
{% if page.previous %}
<a href="{{ site.baseurl }}{{ page.previous.url }}"><< {{ page.previous.title }}</a>
{% endif %}
</div>
<div class="next_post">
{% if page.next %}
<a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} >></a>
{% endif %}
</div>

<!-- disqus评论 -->
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'blogleon'; 
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
