---
layout: default
---

<div id="post">
  {{ content }}
  <p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>
</div>

{{ page.previous }}
{{ page.next }}

<!-- 前后文章 -->
<div class="previous_post">
{% if page.previous %}
← <a href="{{ page.previous }}">上一篇</a>
{% endif %}
</div>
<div class="next_post">
{% if page.next %}
← <a href="{{ page.next }}">下一篇</a>
{% endif %}
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'blogleon'; 
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
